body {
    margin: 0;
    background: #1C1C1C;
}
#container{
    background: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}
#hero{
    border-bottom: 4px solid #2F3E53;
}
h1{
    color: #FFFFFF;
    font-family: "Karla", serif;
    font-weight: 800;
    font-size: 40px;
}
span{
    color: #4ADF86;
}
p{
    color: #FFFFFF;
    font-family: "Inter", serif;
    font-weight: 150;
    font-size: 20px;
}
#generate-btn{
    font-size: 16px;
    color: #FFFFFF;
    width: 191px;
    height: 42px;
    margin: 30px 0 35px 0;
    border-radius: 7px;
    border: none;
    background: #10B981;
    padding: 9px 15px;
    font-family: "Inter", serif;
    font-weight: 400;
}
#pass-fields{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 20px;
}
.pass-field{
    width: 200px;
    height: 42px;
    background: #273549;
    border: none;
    border-radius: 7px;
    font-family: "Inter", serif;
    font-weight: 600;
    color: #55F991;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    padding: 15px 14px 4px 14px;
    margin-right: 45px;
}

